{% set active = "index" %}
{% extends "./layout/layout.html" %}

{% block styling %}
{% endblock %}

{% block content %}
<div class="bg-primary">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-7 order-lg-1">
        <!-- User Info -->
        <div class="media d-block d-sm-flex align-items-sm-center">
          <div class="media-body">
            <h1 class="h3 text-white font-weight-medium mb-1">{{user.lastname}}, {{user.firstname}}</h1>
            <span class="d-block text-white">{{user.username}}</span>
          </div>
        </div>
        <!-- End User Info -->
      </div>
    </div>
  </div>
</div>

<!-- Content Section -->
<div class="bg-light">
  <div class="container space-2">
    <div class="card">
      <div class="card-body p-4">
        <!-- Nav -->
        <div class="row justify-content-between align-items-center mb-4">
          <div class="col-md-5 order-md-2 text-md-right mb-3 mb-md-0">
            
          </div>

          <div class="col-md-7 order-md-1">
          
          </div>
        </div>
        <!-- End Nav -->
        {% include "alert.html" %}
        <h3>Dashboard</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripting %}
<script>
</script>
{% endblock %}