<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{title}}</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "Helvetica", Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        font-size: 16px;
      }

      img {
        max-width: 100%;
      }

      .user-avatar-icon {
        border-radius: 50%;
        width: 40px;
        vertical-align: middle;
        margin-right: 10px;
      }

      body {
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: none;
        width: 100% !important;
        height: 100%;
        line-height: 1.6;
      }

      /* Let's make sure all tables have defaults */
      table td {
        vertical-align: top;
      }

      /* -------------------------------------
          BODY & CONTAINER
      ------------------------------------- */
      body {
        background-color: #f5f8fa;
      }

      .body-wrap {
        background-color: #f5f8fa;
        width: 100%;
      }

      .container {
        display: block !important;
        max-width: 700px !important;
        margin: 0 auto !important;
        /* makes it centered */
        clear: both !important;
      }

      .content {
        max-width: 700px;
        margin: 0 auto;
        display: block;
        /* padding: 20px; */
      }

      /* -------------------------------------
          HEADER, FOOTER, MAIN
      ------------------------------------- */
      .main {
        border: 1px solid rgba(10,10,10,.3);
        border-radius: 3px;
        margin-top: 0px;
        max-width: 700px;
        box-shadow: 0px 0px 1px rgba(0,0,0,0.50);
        border-radius: 2px;
        background: #f5f5f5;
        padding: 0px;
      }

      .content-header {
        padding: 20px;
        border-bottom: 2px solid rgba(100,100,100,.7);
        text-align: center;
        font-size: 36px;
        color: #333;
      }

      .content-header img {
        margin: 10px auto 0;
        max-width: 35px; 
      }

      .content-wrap {
        padding: 40px 60px;
        background-color: #F5F5F5; 
      }

      .content-wrap-inner {
        background-color: #fff;
        padding: 45px 50px;
      }

      .content-block {
        padding: 0 0 20px;
      }

      .header {
        width: 100%;
        margin-bottom: 20px;
      }

      .footer {
        width: 100%;
        clear: both;
        color: #999;
        padding: 20px;
      }
      .footer a {
        color: #999;
      }
      .footer p, .footer a, .footer unsubscribe, .footer td {
        font-size: 12px;
      }

      .footer .social-icon {
        text-align: right;
      }
      
      .footer .social-icon a {
        margin-left: 5px;
      }

      /* -------------------------------------
          TYPOGRAPHY
      ------------------------------------- */
      h1, h2, h3 {
        font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
        color: #000;
        margin: 40px 0 0;
        line-height: 1.2;
        font-weight: 400;
      }

      h1 {
        font-size: 32px;
        font-weight: 500;
      }

      h2 {
        font-size: 24px;
      }

      h3 {
        font-size: 18px;
      }

      h4 {
        font-size: 14px;
        font-weight: 600;
      }

      p, ul, ol {
        margin-bottom: 10px;
        font-weight: normal;
      }
      p li, ul li, ol li {
        margin-left: 5px;
        list-style-position: inside;
      }

      /* -------------------------------------
          LINKS & BUTTONS
      ------------------------------------- */
      a {
        color: #348eda;
        text-decoration: underline;
      }

      .btn-primary {
        text-decoration: none;
        color: #FFF;
        font-weight: normal;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        padding: 19px 0px;
        line-height: 0px;
        background-color: #F69D34;
        border: 1px solid #F69D34;
        border-radius: 2px;
        font-size: 16px;
      }

      .btn-primary:hover, .btn-primary:focus {
        color: #fff;
        background: #EF9020 !important;
        border-color: #EF9020 !important;
        box-shadow: 0 0 0 2px rgba(239, 142, 32, 0.5);
      }
      
      .btn-primary:active {
        color: #fff;
        background: #F38503 !important;
        border-color: #F38503 !important;
      }
      
      /* -------------------------------------
          OTHER STYLES THAT MIGHT BE USEFUL
      ------------------------------------- */
      .last {
        margin-bottom: 0;
      }

      .first {
        margin-top: 0;
      }

      .aligncenter {
        text-align: center;
      }

      .alignright {
        text-align: right;
      }

      .alignleft {
        text-align: left;
      }

      .clear {
        clear: both;
      }

      .bold {
        font-weight: bold;
        font-size: 18px;
      }

      .italic {
        font-style: italic;
      }

      .pt-50 {
        padding-top: 50px;
      }

      .blank-space {
        height: 20px;
        background: #fff;
      }

      .site_name a {
        color: #2A2A2A;	
        font-size: 18px;	
        font-weight: bold;	
        line-height: 21px;
        text-decoration: none;
      }
      
      .site_desc {
        font-size: 14px;
        font-weight: 300;
        color: #2A2A2A;
      }
      /* -------------------------------------
          ALERTS
          Change the class depending on warning email, good email or bad email
      ------------------------------------- */
      .alert {
        font-size: 16px;
        color: #fff;
        font-weight: 500;
        padding: 20px;
        text-align: center;
        border-radius: 3px 3px 0 0;
      }
      .alert a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
      }
      .alert.alert-warning {
        background: #ff9f00;
      }
      .alert.alert-bad {
        background: #d0021b;
      }
      .alert.alert-good {
        background: #68b90f;
      }

      /* -------------------------------------
          RESPONSIVE AND MOBILE FRIENDLY STYLES
      ------------------------------------- */
      @media only screen and (max-width: 640px) {
        h1, h2, h3, h4 {
          font-weight: 600 !important;
          margin: 20px 0 5px !important;
        }

        h1 {
          font-size: 22px !important;
        }

        h2 {
          font-size: 18px !important;
        }

        h3 {
          font-size: 16px !important;
        }

        .container {
          width: 100% !important;
        }

        .content, .content-wrapper {
          padding: 10px !important;
        }
      }
    </style>
  </head>

  <body>
    <table class="body-wrap">
      <tr>
        <td class="container" width="700">
          <div class="content">
            <div class="main">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-header">
                    <h2>Ptf Network</h2>
                  </td>
                </tr>
                <tr>
                  <td class="content-wrap">
                    <table width="100%" cellpadding="0" cellspacing="0" class="content-wrap-inner">
                      <tr>
                        <td class="content-block">
                          <p class="bold">Votre lien de récuperation de mot de passe !</p>
                          <p>
                            
                            Votre lien de réinitialisation a été généré. Cliquez sur le lien pour réinitialisation.
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td class="content-block aligncenter">
                          <a href="{{resetLink}}" class="btn-primary">Réinitiliaser</a>
                        </td>
                      </tr>
                      <tr>
                        <td class="content-block italic pt-50">
                          L’équipe de Ptf Network
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
              <div class="blank-space"></div>
              <div class="footer">
                <table width="100%">
                  <tr>
                    <td class="">
                      <div class="site_name">
                        <a target="_blank" href="https://ptfnetwork.shop">ptfnetwork.shop</a>
                      </div>
                      <p class="site_desc">
                        Investissement 
                      </p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  </body>
</html>